@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CSS variables */
  --accent-color: #00AFB9;
  --primay-background-color: #0081A7;
  --secondary-background-color: #fff;
  --border-radius: 10px;
  --primary-text-color: #fff;
  --secondary-text-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
